*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
}



.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 100vh;
    min-height: 600px;
    background: url(../img/main.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}
.call-to-action-overlay,
.main-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 0;
    background-image: -moz-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -webkit-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
    background-image: -ms-linear-gradient( 150deg, rgb(136,211,206) 0%, rgb(110,69,226) 100%);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 90%;
    position: relative;
    z-index: 2;
}

.menu{
    width: 70%;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.menu-link {
    text-decoration: none;
    color: #fff;
}

.get-started-btn{
    margin-left: 100px;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 100px;
    text-transform: uppercase;
}

.main-text{
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-text span {
    display: inline-block;
}
.main-text h1 {
    margin: 0.5rem;
    font-size: 80px;
}
.main-text span::after{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.main-text span::before{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.main-arrow{
    position: relative;
    z-index: 2;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-down{
    text-align: center;
    line-height: 55px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0 19px 3 rgba(204, 204, 233, 0.5);
}

.table{
    background-color: #f9fafc;
    height: 100vh;
    min-height: 600px;
    padding: 10rem;
}

.table-header{
    text-align: center;
    margin-bottom: 5rem;
}

.table-header span{
    text-transform: uppercase;
    font-size: 2rem;
    color: #9fa4af;
}

.table-header span::after{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #6e45e2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.table-header span::before{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #6e45e2;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.table-header p {
    font-size: 1.8rem;
    display: inline-block;
    width: 40rem;
    line-height: 1.4;
    color: #9fa4af;
}
.table-header h2{
    color: #4f4f6f;
    font-size: 6rem;
    margin: 0;
}
.price-tags{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.price-tag{
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 35rem;
    transition: 0.5s;
}

.price-tag:hover{
    cursor: pointer;
    box-shadow: 0px 0px 60px 10px rgba(204, 204, 223, 0.71);
}
.price-tag span{
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 3rem auto 1rem;
}
.price-tag h4 {
    font-weight: 500;
    margin: 1rem;
    color: #4f4f6f;
    font-size: 3.5rem;
}

.price-tag h4 sub{
    font-size: 1.4rem;
}

.price-tag h4 sup{
    vertical-align: super;
    font-size: 1.4rem;
    margin-right: 0.5rem;
}

.price-tag p {
    color: #9fa4af;
}

.price-btn{
    background-color: #fff;
    border: 1px solid #9fa4af;
    color: #9fa4af;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    padding: 1rem 4rem;
    border-radius: 100px;
    transition: 0.5s;
}

.price-btn:hover{
    background-color: #6e45e2;
    color: #fff;
    cursor: pointer;
}
.call-to-action{
    background: url(../img/Map.png) no-repeat center;
    background-size: cover;
    text-align: center;
    position: relative;
    padding: 15rem;
}
.call-to-action span{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}
.call-to-action h4{
    font-weight: 500;
    font-size: 4.5rem;
    margin: 1rem auto 2rem;
}
.cta-btn{
    display: inline-block;
    border: none;
    background-color: #fff;
    color: #c2c9db;
    width: 20rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    height: 5rem;
    margin: 1rem;
    border-radius: 100px;
    transition: 0.5s;
}
.cta-btn:hover{
    cursor: pointer;
    color: #fff;
    background-color: #6e45e2;
}
.wrap{
    z-index: 2;
    position: relative;
}

